{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<center class="content">
    <h1 style="text-align: center">Boston housing predictor</h1>
    </center>
    <div class="form">
        <form action="/predict" method="POST">
            <input type="text" name="CRIM" placeholder="CRIM">
            <input type="text" name="ZN"  placeholder="ZN">
            <input type="text" name="INDUS"  placeholder="INDUS">
            <input type="text" name="CHAS"  placeholder="CHAS">
            <input type="text" name="NOX"  placeholder="NOX">
            <input type="text" name="RM"  placeholder="RM">
            <input type="text" name="AGE" i placeholder="AGE">
            <input type="text" name="DIS"  placeholder="DIS">
            <input type="text" name="RAD"  placeholder="RAD">
            <input type="text" name="TAX"  placeholder="TAX">
            <input type="text" name="PTRATIO" placeholder="PTRATIO">
            <input type="text" name="B"  placeholder="B">
            <input type="text" name="LSTAT" placeholder="LSTAT" step="any">
            <input type="submit" value="Predict">
        </form>
    </div>
</center>
<br>
<br>
<div class = "legend">
  <table>
<tr><td class = "heading">CRIM :</td><td>per capita crime rate by town</td></tr><br>
<tr><td class = "heading">ZN :</td><td>proportion of residential land zoned for lots over 25,000 sq.ft.</td></tr><br>
<tr><td class = "heading">INDUS :</td><td>proportion of non-retail business acres per town</td></tr><br>
<tr><td class = "heading">CHAS :</td><td>Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)</td></tr><br>
<tr><td class = "heading">NOX :</td><td>nitric oxides concentration (parts per 10 million)</td></tr><br>
<tr><td class = "heading">RM :</td><td>average number of rooms per dwelling</td></tr><br>
<tr><td class = "heading">AGE :</td><td>proportion of owner-occupied units built prior to 1940</td></tr><br>
<tr><td class = "heading">DIS :</td><td>weighted distances to five Boston employment centres</td></tr><br>
<tr><td class = "heading">RAD :</td><td>index of accessibility to radial highways</td></tr><br>
<tr><td class = "heading">TAX :</td><td>full-value property-tax rate per $10,000</td></tr><br>
<tr><td class = "heading">PTRATIO :</td><td>pupil-teacher ratio by town</td></tr><br>
<tr><td class = "heading">B :</td><td>1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town</td></tr><br>
<tr><td class = "heading">LSTAT :</td><td>%age lower status of the population</td></tr><br>
</table>
</div>
{% endblock %}